#Python stuff
__pycache__

#Local test file
test.py

#Results output folder
results

#LaTeX compilation files
/report/report.aux
/report/report.fdb_latexmk
/report/report.fls
/report/report.log
/report/report.synctex.gz
/report/report.bbl
/report/report.blg